# Mentoria Evolution - Exercícios Python

https://minerandodados.com.br

* Para executar uma célula digite **Control + enter** ou clique em **Run**.
* As celulas para rodar script Python devem ser do tipo code.
* Crie células abaixo das celulas que foram escrito o enunciado das questões com as respostas.

**Obs**: Caso de dúvidas, volte na aula anterior de Python. Não desista :)

## Exercícios de Fixação

1) Imprima a frase **"Eu sou Minerador de Dados!"**

In [1]:
print("Eu sou Minerador de Dados")

Eu sou Minerador de Dados

2) Faça operações matemáticas de soma, subtração, multiplicação e divisão.

In [2]:
10 + 5

15

In [3]:
163 - 7

156

In [4]:
5 * 5

25

In [7]:
51 / 3

17.0

3) Imprima o tipo de um determinado do valor **10**.

In [8]:
print(type(10))

<class 'int'>

4) Converta o valor passado anteriormente para o tipo **float**

In [9]:
float(10)

10.0

5) Faça a conversão do valor float recebido anteriormente para o tipo **string**

In [10]:
str(10)

'10'

6) Utilizando variáveis faça:
- a) Defina uma variável com o **seu nome** e imprima o seu valor.
- b) Imprima o **tipo** dessa variável.
- c) Substitua o valor da sua variável nome com a concatenação do seu valor e o seu sobrenome, depois, imprima o novo valor.
    - obs: O resultado dessa variável será Nome Sobrenome, exemplo, **Felipe Santana**.
- d) Defina duas variaveis com os valores do seu email e idade com apenas uma linha de comando, depois, imprima seus valores.

In [13]:
nome = 'Cécil'
print(type(nome))
sobrenome = ' Cardozo'
print(nome + sobrenome)
email, idade = 'cecilcardozo@gmail.com', 30
print(email)
print(idade)

<class 'str'>
Cécil Cardozo
cecilcardozo@gmail.com
30

7) Utilizando funções de arredonamento faça:
- a) Arredonde o valor 2.898
- b) Arredonde o valor 2.4545455 e exiba apenas 4 cadas decimais

In [14]:
round(2.898)

3

In [15]:
round(2.4545455, 4)

2.4545

9) Sobre os objetos Strings, faça:
- a) Defina uma variavel com a string: "Python é uma maldição!" e imprima
- b) Imprima o primeiro caracter da variavel.
- c) Imprima os valores do primeiro caracter até o 6.
- d) Faça a contagem de todos os caracteres utilizando uma única linha de comando.
- e) Faça uma contagem de quantas vezes a palavra dados aparece na seguinte frase:
    - "dados é o novo petróleo, em Deus eu confio, para o resto me traga dados.."
    - Obs: Crie uma variável chamada "frase" com a frase acima.
- f) Substitua o primeiro caracter da frase acima para maiúsculo
- g) Quebre as palavras da frase separado por virgula, criando uma lista.

In [29]:
texto = "Python é uma maldição!"
print(texto)
print(texto[0])
print(texto[0:6])
print(len(texto))
frase = "dados é o novo petróleo, em Deus eu confio, para o resto me traga dados.." 
print(frase.count('dados'))
print(frase.capitalize())
print(frase.split(','))

Python é uma maldição!
P
Python
22
2
Dados é o novo petróleo, em deus eu confio, para o resto me traga dados..
['dados é o novo petróleo', ' em Deus eu confio', ' para o resto me traga dados..']

- Ao concluir, salve seu notebook e envie suas respostas para **contato@minerandodados.com.br**